# Enable hoisting
hoist = true
# Set the depth to ensure all dependencies are hoisted
hoist-pattern[] = '*'

shamefully-hoist = true
node-linker=hoisted
hoist-pattern[] = 'glob'
hoist-pattern[] = 'minipass'
hoist-pattern[] = 'minimatch'
